a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.container {
    width: 1920px;
    padding-left: 138px;
    padding-right: 138px;
}
.container {
    background-color: aqua;
}