<header class="header-home">
    <ul>
        <li>
            <svg class="icon-Logo" aria-label="лого сайту" width="307" heigth="117">
            <use href="./images/symbols-defs.svg"></use>
            </svg>
        </li>
        <li>
            <button type="button">
            <svg class="icon-NaviOpen" aria-label="кнопка меню" width="94" height="71">
            <use href="./images/symbol-defs.svg"></use>
            </svg>
            </button>
        </li>
    </ul>
    <ul>
        <li><a href="+86852346000">+86 852 346 000</a></li>
        <li>
            <button type="button">Reservations</button>
        </li>
    </ul>
    


</header>

