:root {
 --white-accent-color: #FFFFFF;
 --black-accent-color: #000000;
 --dark-accent-color: #4D4D4D;
 --light-accent: #B0B0B0;
 --primary-background: #EBF0E4;
 --secondary-background: #5E6600;
 --footer-background: #233000;
 --button-color: #9CAA00;
}